aenum==2.2.1; python_version < '3.6'
attrs==19.3.0
MailChecker
twisted==18.4.0
git+git://github.com/chrisnorman7/game-server-base.git@567c8c0ce1b30083e41b9f5c51c8f6e572bc662b
cffi
autobahn==17.9.2
natsort==5.1.0
passlib==1.7.1
pyopenssl==17.3.0
sqlalchemy==1.3.4
alembic==1.0.10
Babel
